{% extends "base.html" %}
{% block title %}Home results{% endblock %}
{% block content %}
{% load static %}

<style>
    .container {
        display: flex;
        justify-content: center;
        height: 100vh; 
    }

    .box-container {
        width: 70%; 
        margin-top: 100px;
        overflow: auto; 
        border: 5px solid #e9e9f7;
        padding: 10px; 
        box-sizing: border-box; 
        max-height: 700px;
    }

    .overflow-wrap {
        overflow-wrap: break-word;
    }
</style>

<div class="container">
    <div class="box-container">
        {% if genome_id %}
            <p class="overflow-wrap">{{ genome_id.sequence }}</p>
        {% else %}
            <p>No results found.</p>
        {% endif %}
    </div>
</div>

{% endblock %}
