{% extends "base.html" %}
{% block title %}Home page{% endblock %}
{% block content %}
{% load custom_filters %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
  <style>
    .centered {
      text-align: center;
    }

    
      .status-container {
          display: flex;
          justify-content: space-between;
      }
  
      .status-column {
          width: 30%; 
      }
    body {
        
        background-image: url('static/background.png');
    }

    .text-middle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold; 
        font-size: larger; 
    }
    
  </style>


  {% if request.user.is_authenticated %}
    <h1 class="centered">Welcome {{ request.user.username }} to BactAHub</h1>
    <p class="centered">The home page of our application for annotating and analyzing bacterial genomes.</p>
    <div class="container">
      <p class="text-middle centered">BactAHub allows for the annotation of bacterial genomes with an efficient visualization of gene localization. It facilitates the selective extraction of annotated data, provides access to sequence alignment tools via external APIs such as Blast, and encourages collaboration between annotators and validators to ensure the quality of generated information.</p>
    </div> 
  {% else %}
    <h1 class="centered">Welcome to BactAHub</h1>
    <p class="centered">The home page of our application for annotating and analyzing bacterial genomes.</p>
    <div class="container">
      <p class="text-middle centered">BactAHub allows for the annotation of bacterial genomes with an efficient visualization of gene localization. It facilitates the selective extraction of annotated data, provides access to sequence alignment tools via external APIs such as Blast, and encourages collaboration between annotators and validators to ensure the quality of generated information.</p>
    </div>
  {% endif %}
 
{% endblock %}
