{% extends "base.html" %}
{% block title %}Home page{% endblock %}
{% block content %}
{% load custom_filters %}
{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
  <style>
    .centered {
      text-align: center;
    }

    .nav ul {
      overflow: hidden;
      overflow-y: scroll;
    }
    
    body {
      background-image: url('static/background.png');
    }

    .container {
      max-width: 900px; 

  }

  
      .status-column {
          width: 30%; 
      }
   
    .text-middle {
        font-weight: bold; 
        font-size: larger; 
    }

      img{
        max-width: 80%;
      }
      
      
      .wrap {
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
        flex-direction: row;
        align-items: center; 
    }

    .pane {
        text-align: center;
        transition: transform 0.3s ease-in-out;
        margin-right: 20px;
    }

    .pane:hover {
        transform: scale(1.1);
    }

    .pane h2 {
        margin-bottom: 10px;
    }

    .pane img {
      border-radius: 50%;
  }


  .table-striped>tbody>tr:nth-child(odd)>td, 
  .table-striped>tbody>tr:nth-child(odd)>th {
   background-color:  #e9e9f7;
 }

 button.btn.btn-primary, a.btn.btn-primary.btn-action {
  background-color: #7089b9;
  margin-left: 20px;       
}

.spacer {
  margin-bottom: 50px; 
}

  #id_title {
    width: 100%;
  }
    
  </style>



  {% if request.user.is_authenticated %}
    
<div class="container">
    <div>
    <h1 class="centered">Welcome {{ request.user.username }} to BactAHub</h1>
    <p class="text-middle centered">BactAHub allows for the annotation of bacterial genomes with an efficient visualization of gene localization. It facilitates the selective extraction of annotated data, provides access to sequence alignment tools via external APIs such as Blast, and encourages collaboration between annotators and validators to ensure the quality of generated information.</p>
    </div>
    
    <div class="wrap">
        <div class="pane">
            <h2>Search</h2>
            <a href="/search">
              <img src="{% static 'search.png' %}" alt="Search Image">
          </a>
          
        </div>
        <div class="pane">
            <h2>Upload</h2>
          
            <a href="/upload">
              <img src="{% static 'upload.png' %}" alt="Upload Image">
          </a>

        </div>
        <div class="pane">
          <h2>Download</h2>
        
          <a href="/text_extraction">
            <img src="{% static 'download.png' %}" alt="Download Image">
        </a>

      </div>
 
    </div>
    <div class="spacer"></div>
    <div style = "height: 100px" class="col-md-12 col-12 col-sm-12">
      <div class="card">
      <div style = "background-color: #e9e9f7;" class="card-header text-center">
          <h4>Forums</h4>
      </div>
     
      <div class="card-body ">
              <div class="table-responsive">
                  <table class="table table-striped">
                      <tbody>
                          <tr>
                              <th>Title</th>
                              <th>Author</th>
                              <th>Publication time</th>
                              <th style="max-width: 70px;"> Replies</th>
                              <th>Action</th>
                          </tr>
                          <nav>
                              {% for forums in forum_post %}
                              <tr>
                                  <td>{{ forums.title }}</td>
                                  <td>{{ forums.author }}</td>
                                  <td>{{ forums.publication_date }}</td>
                                  <td style="max-width: 10px;">{{ forums.comments.count }}</td>
                                  <td style = "text-align: center; vertical-align: middle;" >
                                  <a href = " {% url 'post_url' forums.url %}"class="btn btn-primary btn-action" >Visit</a>
                                  </td>
                              </tr>
                              {% endfor %}
                          </nav>
                      </tbody>           
                  </table>
              </div>
          </div>
      </div>
  </div> 
  <div style= " position:absolute; background-color:  #e9e9f7; top: 390px; left: 60px; bottom: 400px; width: 400px; height: 450px;" class="card-footer">
    <h4>Create a new post</h4>
    <form method="post" action="{% url 'create_new_post' %}" >
        {% csrf_token %}
        {{form.title}}<br>
        <br>
        {{form.content|safe}}<br>
        {{form.media}}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</div>


  {% else %}
    <h1 class="centered">Welcome to BactAHub</h1>
    <p class="centered">The home page of our application for annotating and analyzing bacterial genomes.</p>
    <div class="container">
      <p class="text-middle centered">BactAHub allows for the annotation of bacterial genomes with an efficient visualization of gene localization. It facilitates the selective extraction of annotated data, provides access to sequence alignment tools via external APIs such as Blast, and encourages collaboration between annotators and validators to ensure the quality of generated information.</p>
    </div>
  {% endif %}
 
{% endblock %}
