{% extends "base.html" %}
{% block title %}Home page{% endblock %}
{% block content %}
{% load custom_filters %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
  <style>
    .centered {
      text-align: center;
    }

    /* Custom styles for side-by-side display */
      .status-container {
          display: flex;
          justify-content: space-between;
      }
  
      .status-column {
          width: 30%; /* Adjust the width as needed */
      }
    body {
        /* Set background image */
        background-image: url('static/background.png');
    }

    .text-middle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold; /* Make text bold */
        font-size: larger; /* Increase font size */
    }
    
  </style>


  {% if request.user.is_authenticated %}
    <h1 class="centered">Welcome {{ request.user.username }} to BactAHub</h1>
    <p class="centered">The home page of our application for annotating and analyzing bacterial genomes.</p>

    <div class="container-sm" style="max-width: 800px;">
      <h3 style="text-align: center;">Annotation Genome status</h3>
      <div class="row">
          {% for anno_genome in status_genome %}
              <div class="col-md-4 mb-1">
                  <div class="d-flex justify-content-between align-items-center border p-1 rounded">
                      {% if anno_genome.is_annotated == False %}
                          {% if anno_genome.annotator|can_edit_annotation:request.user %}
                              <div>
                                  {{ anno_genome.genome.chromosome }}
                              </div>
                              <div>
                                  <a href="{% url 'annotation' 'genome' i.id %}" class="badge bg-danger">Annotate</a>
                              </div>
                          {% endif %}
                      {% elif anno_genome.genome.is_validated == False %}
                          {% if request.user.role == "validator" or request.user.is_superuser %}
                              <div>
                                  {{ anno_genome.genome.chromosome }}
                              </div>
                              <div>
                              <a href="{% url 'validation' 'genome' anno_genome.id %}" class="badge bg-warning">Validate</a>
                              </div>
                          {% endif %}
                      {% endif %}
                  </div>
              </div>
          {% endfor %}
      </div>
      <h3 style="text-align: center;">Annotation protein status</h3>
      <div class="row">
          {% for i in status_protein %}
              <div class="col-md-3 mb-1">
                  <div class="d-flex justify-content-between align-items-center border p-1 rounded">
                      <div>{{ i.gene }}</div>
                      <div>
                        {% if i.is_annotated == False %}
                            {% if i.annotator|can_edit_annotation:request.user %}
                              <a href="{% url 'annotation' i.geneprotein.type i.id %}" class="badge bg-danger">Annotate</a>
                            {% else %}
                              <span class="badge bg-danger">Pending annotation</span>
                            {% endif %}
                        {% elif i.geneprotein.is_validated == False %}
                            {% if request.user.role == "validator" or request.user.is_superuser %}
                              <a href="{% url 'validation' i.geneprotein.type i.id %}" class="badge bg-warning">Validate</a>
                            {% else %}
                              <span class="badge bg-warning">Pending validation</span>
                            {% endif %}
                        {% else %}
                            <span class="badge bg-success">In database</span>
                        {% endif %}
                    </div>
                  </div>
              </div>
          {% endfor %}
      </div>
  </div>
  
  
  {% else %}
    <h1 class="centered">Welcome to BactAHub</h1>
    <p class="centered">The home page of our application for annotating and analyzing bacterial genomes.</p>
    <div class="container">
      <p class="text-middle centered">BactAHub allows for the annotation of bacterial genomes with an efficient visualization of gene localization. It facilitates the selective extraction of annotated data, provides access to sequence alignment tools via external APIs such as Blast, and encourages collaboration between annotators and validators to ensure the quality of generated information.</p>
    </div>
  {% endif %}
 
{% endblock %}
