{% extends "base.html" %}
{% block title %}Home page{% endblock %}
{% block content %}
    <meta http-equiv="refresh" content="2;url=/" />

    <style>
        .message {
            font-size: 18px;
            color: #333;
            margin-bottom: 20px;
        }

        .redirect-info {
            font-size: 14px;
            color: #666;
        }
    </style>
    
    <div class="message">
        Your changes have been taken into account.
    </div>
    <div class="redirect-info">
        You will be redirected in 2 seconds. If not, <a href="/">click here</a>.
    </div>


{% endblock %}