{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
   
<style>
    .card {
        width: 400px;
        height: 450px;
        background: #F4F6FB;
        border: 1px solid white;
        box-shadow: 10px 10px 64px 0px rgba(180, 180, 207, 0.75);
        -webkit-box-shadow: 10px 10px 64px 0px rgba(186, 186, 202, 0.75);
        -moz-box-shadow: 10px 10px 64px 0px rgba(208, 208, 231, 0.75);
      }
      
      .form {
        padding: 25px;
      }
      
      .card_header {
        display: flex;
        align-items: center;
      }
      
      .card svg {
        color: #7878bd;
        margin-bottom: 20px;
        margin-right: 5px;
      }
      
      .form_heading {
        padding-bottom: 15px;
        font-size: 21px;
        color: #7089b9;
      }
      
      .field {
        padding-bottom: 10px;
      }
      
      #id_username, #id_first_name, #id_last_name, #id_phoneNumber  {
        border-radius: 5px;
        background-color: #e9e9f7;
        padding: 5px;
        width: 100%;
        color: #7a7ab3;
        border: 1px solid #dadaf7
      }
      
      .input:focus-visible {
        outline: 1px solid #aeaed6;
      }
      
      .input::placeholder {
        color: #bcbcdf;
      }
      
      label {
        color: #B2BAC8;
        font-size: 14px;
        display: block;
        padding-bottom: 4px;
      }
      
      button.update_profile {
        background-color: #7089b9;
        margin-top: 10px;
        font-size: 14px;
        padding: 7px 12px;
        height: auto;
        font-weight: 500;
        color: white;
        border: none;
      }
      
      button.update_profile:hover {
        background-color: #5f5f9c;
      }

      .form_heading a {
        text-decoration: none; 
        color: #7089b9; 
                
    }
</style>


<div class="container" style="display: grid; place-items: center; height: 90vh;">
    <div>
        {% if success %}
        <div class="alert alert-success" role="alert" style="text-align: center; width: 400px">
            {{ success }}
        </div>
        {% endif %}
        {% if form.errors.phoneNumber %}
            {% for errorMsg in form.errors.phoneNumber %}
            <div class="alert alert-danger" role="alert" style="text-align: center; width: 400px">
                {{ errorMsg }}
            </div>
            {% endfor %}
        {% endif %}
        
        <form class="form card" method="post" action="{% url 'update_profile' %}">
            {% csrf_token %}
            <div class="card_header">
                <h1 class="form_heading">Update your profile</h1>
            </div>
            <div class="field">
                <label for="username">Username</label>
                {{ form.username }}
            </div>
            <div class="field">
                <label for="first_name">First name</label>
                {{ form.first_name }}
            </div>
            <div class="field">
                <label for="last_name">Last name</label>
                {{ form.last_name }}
            </div>
            <div class="field">
                <label for="phone_number">Phone number</label>
                {{ form.phoneNumber }}
            </div>
            <div class="field">
                <button class="update_profile">Update</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}