{% extends "base.html" %}
{% block title %}Home page{% endblock %}
{% block content %}

<div class="container text-center mx-auto">
    <h2>Upload Data</h2>

    <div class="form-group mt-4" style="max-width: 500px; display: block; margin: 0 auto;">
        <form method="post" action="{% url 'upload_file' %}?next={{ request.GET.next }}" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-primary" style="background-color: #7089b9; color: white;">Submit</button>
        </form>
    </div>

    {% if error_message %}
        <div class="alert alert-danger mt-4" role="alert" style="max-width: 400px; margin: 0 auto;">
            <h2>⚠️Error⚠️</h2>
            <p>{{ error_message }}</p>
        </div>
    {% endif %}
</div>

{% endblock %}
