<!DOCTYPE html>
<html>
<head>
    <title>Validator Dashboard</title>
</head>
<body>
    <h2>Assign an annotator:</h2>
    <form method="post" action="{% url 'validate_annotators' %}">
        {% csrf_token %}
        {% if unvalidated_annotations %}
        <ul>
            {% for annotation in unvalidated_annotations %}
                <li>
                    Genome: {{ annotation.genome.chromosome }}<br>
                    Upload Time: {{ annotation.upload_time }}<br>
                    
                    <label for="annotator_{{ annotation.id }}">Select Annotator:</label>
                    <select name="annotator" id="annotator_{{ annotation.id }}">
                        {% for annotator in annotators %}
                            <option value="{{ annotator.id }}">{{ annotator.username }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <input type="hidden" name="annotation_id" value="{{ annotation.id }}">
                
                </li>
            {% endfor %}
            <button type="submit">Rechercher</button>
        </ul>
        {% endif %}
    </form>
</body>
</html>
