{% extends "base.html" %}
{% block title %}Visualization{% endblock %}
{% block content %}
{% load static %}

<style>
    .container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin-right: 500px;
    }

    #html-graph-container {
        margin-bottom: 250px;
    }

</style>

<div class="container">
    <div id="html-graph-container">
        {{ html_graph|safe }}
    </div>
</div>

{% endblock %}
