{% extends "base.html" %}
{% block title %}Validator Dashboard{% endblock %}
{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />


<style>
   
    .task-box {
      padding: 15px;
      width: 500px;
      height: 600px;
      margin-top: 15px;
      margin-left: 20px;
      overflow-y: auto;
    }

    .container{
        width: 70%;
        margin-right: 400px;
        margin-top: 15px;
    }
    
    .flex-container{
        display: flex;
        height: 100vh; 
    }

    .task-box nav ul {
            overflow: hidden;
            overflow-y: scroll;
    }
  
    .no-job-message {
        text-align: center;
        font-size: 18px;
        color: #555;
        padding: 20px;
        background-color: #eee;
    }

    button.btn.btn-primary {
        background-color: #7089b9;        
    }

    .table-striped>tbody>tr:nth-child(odd)>td, 
    .table-striped>tbody>tr:nth-child(odd)>th {
     background-color:  #e9e9f7;
   }
</style>

<script>
    function confirmDelete(deleteUrl) {
        if (window.confirm('Are you sure you want to delete this sequence ?')) {
            window.location.href = deleteUrl;
        }
    }
</script>

    {% if messages %}
        <div id="messages">
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="alert alert-success mx-auto text-center" role="alert">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-danger mx-auto text-center" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

<div class="flex-container">
    
    <div class="task-box">
        <div class="col-md-12 col-12 col-sm-12">
            <div class="card">
            <div style="background-color: #e9e9f7;" class="card-header text-center">
                <h4>Sequences to validate</h4>
            </div>
            
            <div class="card-body ">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th style="background-color: #e9e9f7;">Sequence</th>
                                    <th style="background-color: #e9e9f7;">Type</th>
                                    <th style="background-color: #e9e9f7;">Action</th>
                                </tr>
                                <nav>
                                    {% for annotation in unvalidated_genomes %}
                                    <tr>
                                        <td>{{ annotation.genome.chromosome }}</td>
                                        <td >genome</td>
                                        <td style = "text-align: center; vertical-align: middle;" >
                                        <a class="btn btn-primary btn-action" href= "{% url 'validation' 'genome' annotation.id %}"><i class="fas fa-eye"></i></a>
                                        <a class="btn btn-success btn-action" href= "{% url 'include' 'genome' annotation.id %}"><i class="fas fa-check"></i></a>
                                        <a class="btn btn-danger btn-action" onclick="confirmDelete('{% url 'delete' 'genome' annotation.id %}')" ><i class="fas fa-trash"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% for annotation in unvalidated_proteins %}
                                    <tr>
                                        <td>{{ annotation.geneprotein.accession_number }}</td>
                                        <td >{{ annotation.geneprotein.type }}</td>
                                        <td style = "text-align: center; vertical-align: middle;" >
                                        <a class="btn btn-primary btn-action"  href= "{% url 'validation' annotation.geneprotein.type annotation.id %}"><i class="fas fa-eye"></i></a>
                                        <a class="btn btn-success btn-action" href= "{% url 'include' annotation.geneprotein.type annotation.id %}"><i class="fas fa-check"></i></a>
                                        <a class="btn btn-danger btn-action" onclick="confirmDelete('{% url 'delete' annotation.geneprotein.type annotation.id %}')" ><i class="fas fa-trash"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </nav>
                            </tbody>           
                        </table>
                    </div>
                </div>
            </div>
        </div>          
    </div>
    
    <div class="container">
                <h3>Genome</h3>
                <div style=" height: 350px;">
                    <table class="table">
                        <tbody>
                                <tr>
                                    <th style="width: 300px; background-color: #e9e9f7;">Chromosome</th>
                                    <th style="background-color: #e9e9f7;" >Select Annotator</th>
                                    <th style="background-color: #e9e9f7;">Action</th>
                                </tr>
                                    
                                <nav>
                                {% for genome in created_genomes %}
                                    <form method="post" action="{% url 'validate_annotators' 'genome' %}">
                                    {% csrf_token %}
                                    <tr>
                                        <td><strong>{{ genome.chromosome}}</strong></td>
                                        <td>
                                            <select name="annotator" id="{{ annotation.id }}" class="form-select form-select-sm" aria-label=".form-select-sm example">
                                                    <option value="none" selected  >-----------------</option>
                                                    {% for annotator in annotators %}
                                                        <option value="{{ annotator.id }}">{{ annotator.username }}</option>
                                                    {% endfor %}
                                                        
                                                    </select>
                                                    <input type="hidden" name="annotation_id" value="{{ genome.id }}">
        
                                                </td>
                                        <td><button type="submit" class="btn btn-primary">Assign</button></td>
                                
                                    </tr>
                                    </form>
                                {% empty %}
                                    <tr>
                                        <td colspan="3" class="no-job-message">
                                            <p>No job for you</p>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </nav>
                        </tbody>
                    </table>     
                </div>
                <h3>Gene/Protein</h3>
                <div style="overflow-y: auto; height: 350px;">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th style="width: 300px; background-color: #e9e9f7;">Accession Number</th>
                                <th style="background-color: #e9e9f7;">Select Annotator</th>
                                <th style="background-color: #e9e9f7;">Action</th>
                            </tr>
                            
                            <nav>
                                {% for protein in created_proteins %}
                                    <form method="post" action="{% url 'validate_annotators' 'cds_pep' %}">
                                    {% csrf_token %}
                                        <tr>
                                            <td><strong>{{ protein.accession_number }}</strong></td>
                                            <td>
                                                <select name="annotator" id="{{ annotation.id }}" class="form-select form-select-sm" aria-label=".form-select-sm example">
                                                    <option value="none" selected  >-----------------</option>
                                                    {% for annotator in annotators %}
                                                        <option value="{{ annotator.id }}">{{ annotator.username }}</option>
                                                    {% endfor %}
                                                    
                                                </select>
                                                <input type="hidden" name="annotation_id" value="{{ protein.id }}">

                                            </td>
                                            <td><button type="submit" class="btn btn-primary">Assign</button></td>
                                        </tr>
                                    </form>
                                {% empty %}
                                    <tr>
                                        <td colspan="3" class="no-job-message">
                                            <p>No job for you</p>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </nav>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>

</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('{{ annotation.id }}').value = 'none';
    });
</script>

{% endblock %}

