{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}

<style>
    .card {
        width: 400px;
        height: 300px;
        background: #F4F6FB;
        border: 1px solid white;
        box-shadow: 10px 10px 64px 0px rgba(180, 180, 207, 0.75);
        -webkit-box-shadow: 10px 10px 64px 0px rgba(186, 186, 202, 0.75);
        -moz-box-shadow: 10px 10px 64px 0px rgba(208, 208, 231, 0.75);
      }
      
      .form {
        padding: 25px;
      }
      
      .card_header {
        display: flex;
        align-items: center;
      }
      
      .card svg {
        color: #7878bd;
        margin-bottom: 20px;
        margin-right: 5px;
      }
      
      .form_heading {
        padding-bottom: 15px;
        font-size: 21px;
        color: #7089b9;
      }
      
      .field {
        padding-bottom: 10px;
      }
      
      #id_username, #id_password  {
        border-radius: 5px;
        background-color: #e9e9f7;
        padding: 5px;
        width: 100%;
        color: #7a7ab3;
        border: 1px solid #dadaf7
      }
      
      .input:focus-visible {
        outline: 1px solid #aeaed6;
      }
      
      .input::placeholder {
        color: #bcbcdf;
      }
      
      label {
        color: #B2BAC8;
        font-size: 14px;
        display: block;
        padding-bottom: 4px;
      }
      
      button {
        background-color: #7089b9;
        margin-top: 10px;
        font-size: 14px;
        padding: 7px 12px;
        height: auto;
        font-weight: 500;
        color: white;
        border: none;
      }
      
      button:hover {
        background-color: #5f5f9c;
      }

      .form_heading a {
        text-decoration: none; 
        color: #7089b9; 
                
    }
</style>


<div class="container d-flex justify-content-center align-items-center" style="height: 80vh;">
    <form class="form card" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="card_header">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <path fill="none" d="M0 0h24v24H0z"></path>
            <path fill="#7089b9" d="M4 15h2v5h12V4H6v5H4V3a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-6zm6-4V8l5 4-5 4v-3H2v-2h8z"></path>
          </svg>
          <h1 class="form_heading"><a href="{% url 'register' %}">Sign in</a></h1>

        </div>
        <div class="field">
          <label for="email">Email</label>
          {{ form.username }}
        </div>
        <div class="field">
          <label for="password">Password</label>
          {{ form.password }}
        </div>
        <div class="field">
          <button class="button">Login</button>
        </div>
      </form>
</div>

{% endblock %}

